#standard_button {
    border-style: groove;
    font-size: 7pt;
    color: rgb(80, 80, 80);
    background-color: white;
    min-height: 70px;
    font-weight: bold;
    border-width: 0px;
    border-radius: 5px;
    text-align: center;
}

#standard_button::hover {
    background-color: rgb(227, 255, 159);
}

#standard_button::pressed {
    background-color: rgb(195, 228, 113);
}

#product_button {
    font-family: "DejaVu Sans";
    border-style: groove;
    font: 8pt;
    color: rgb(80, 80, 80);
    background-color: white;
    height: 90px;
    width : 130px;
    border-width: 0px;
    border-radius: 10px;
    text-align: center;
}

#product_button::hover {
    background-color: rgb(255, 230, 160);
}

#product_button::pressed {
    background-color: rgb(246, 232, 192);
}

#label_title {
    font : 12pt;
    min-height : 32px;
    color: rgb(70, 70, 70);
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

#button_label_product_button {
    font-size: 12px;
    height: 25px;
    text-align: center;
}

#button_label_toolbar {
    /* font-size: 16px; */
    font-size: 12px;
    max-height: 30px;
    text-align: center;
}

#button_label_category {
    font-size: 16px;
    height: 30px;
    color: rgb(70, 70, 70);
    text-align: center;
}

#button_label_standard {
    font-size: 12px;
    height: 30px;
    color: rgb(70, 70, 70);
    text-align: center;
}

#label_icon {
    height : 30px;
    width : 30px;
}

#category_button {
    border-style: groove;
    font: 9pt;
    color: rgb(80, 80, 80);
    font-weight: bold;
    background-color: white;
    min-height: 130px;
    max-height: 160px;
    width : 130px;
    border-width: 0px;
    border-radius: 10px;
    text-align: center;
}

#category_button::hover {
    background-color: rgb(220, 220, 220);
}

#category_button::pressed {
    background-color: rgb(205, 200, 200);
}

#toolbar {
    border-style: groove;
    color: rgb(80, 80, 80);
    font: 11pt;
    background-color: white;
    max-height: 60px;
    min-width : 90px;
    /* max-width : 190px; */
    border-width: 0px;
}

#toolbar::hover {
    background-color: rgb(225, 240, 245);
}

#toolbar::pressed {
    background-color: rgb(204, 227, 235);
}

#button_start {
  border-style: groove;
  font-size: 6pt;
  color: rgb(80, 80, 80);
  background-color: white;
  max-height: 56px;
  width: 100%;
  border-width: 0px;
  text-align: center;
}

#button_start::hover {
  background-color: rgb(255, 230, 160);
}

#button_start::pressed {
  background-color: rgb(246, 232, 192);
}

#button_label_start {
  font-size: 10px;
  height: 22px;
  text-align: center;
}

#mini_button {
    border-style: groove;
    font: 6pt;
    color: rgb(80, 80, 80);
    background-color: white;
    max-height: 60px;
    max-width : 60px;
    border-width: 0px;
    text-align: center;
}

#mini_button::hover {
    background-color: rgb(255, 230, 160);
}

#mini_button::pressed {
    background-color: rgb(246, 232, 192);
}
